
<div class="content">
  <div class="row">
    <h5 class="title">Escolha uma opção</h5>
  </div>
  <div class="row">
    <div class=" card-body all-icons">
      <div class=" row">
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/clientes">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-shape-star"></i></h1>
                  <p class=" description">CLIENTES</p>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/empresa">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-bank"></i></h1>
                  <p class=" description">EMPRESA</p>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/unidades">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-square-pin"></i></h1>
                  <p class=" description">UNIDADES</p>
               
              </div>
            </div>
          </div>
        </div>

        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/estoque">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-app"></i></h1>
                  <p class=" description">ESTOQUE</p>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/funcionarios">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-badge"></i></h1>
                  <p class=" description">FUNCIONÁRIOS</p>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/fornecedor">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-delivery-fast"></i></h1>
                  <p class=" description">FORNECEDOR</p>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/consumo">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-bullet-list-67"></i></h1>
                  <p class=" description">CONSUMO</p>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class=" card card-user">
            <div class=" card-body">
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
                <div class=" block block-three"></div>
                <div class=" block block-four"></div>
                <a href="#/veiculos">
                  <div style="z-index: 99; left: 0; top: 0; height: 100%; width: 100%; position: absolute;"></div>
                </a>
                  <h1 style="font-size: 3rem;"><i class="tim-icons icon-bus-front-12"></i></h1>
                  <p class=" description">VEÍCULOS</p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>