
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Total Faturado</h5>
              <h2 class=" card-title">Performance</h2>
            </div>
            
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Orçamentos</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-money-coins text-success"></i>R$ 763.003,00
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Toneladas Vendidas</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bus-front-12 text-info"> </i> 3,50 ton
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total de Clientes</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-chat-33  text-danger-states"> </i> 1.000
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
