
<div class=" content">
    <select-unidade (emitirShow)="showListEstoque($event)" (emitirUnidade)="listEstoqueUnidadeById($event)"></select-unidade>
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title"><i class="tim-icons icon-app text-danger-states"> </i> Novo Produto</h5></div>
          <button class=" btn" style="width: 80%; margin-left:auto; margin-right: auto;" type="submit" (click)="showFormEstoque()"><i class="tim-icons icon-simple-add"></i> ADICIONAR</button>
          <div class=" card-body">
          </div>
        </div>
      </div>
    </div>
    <div class=" row" *ngIf="showEstoque">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Estoque</h4>
            <form>
              <div class=" row">
                <div class=" col-md-12">
                    <div class=" form-group">
                      <label></label>
                      <input
                        #searchEstoque
                        autocomplete="off"
                        [(ngModel)]="findEstoque"
                        (keypress)="searchAllEstoque()"
                        name="searchEstoque"
                        class=" form-control"
                        placeholder="O que você quer pesquisar"
                        type="text"
                      />
                  </div>
                </div>
                <div class=" card-footer">

                </div>
              </div>
            </form>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>id</th>
                    <th>Produto</th>
                    <th>Estoque (ton)</th>
                    <th>Vl. Total</th>
                    <th class=" text-center">#</th>
                  </tr>
                </thead>
                <tbody *ngIf="showData">
                  <tr *ngFor="let estoque of estoques$ | async">
                    <td>{{ estoque.id }}</td>
                    <td>{{ estoque.produto }}</td>
                    <td>{{ estoque.estoqueDisponivel }}</td>
                    <td>{{ estoque.vlTotal | currency: 'BRL' }}</td>
                    <td class=" text-center"><button class="btn btn-primary btn-round btn-icon mr-1" (click)="onEdit(estoque.id)"><i class="tim-icons icon-pencil"></i></button><button class="btn btn btn-round btn-icon mr-1" (click)="onDelete(estoque.id)"><i class="tim-icons icon-trash-simple"></i></button></td>
                  </tr>
                </tbody>
                <tbody *ngIf="!showData">
                  <tr>
                    <td colspan="5" style="text-align: center;"><i class="tim-icons icon-alert-circle-exc"></i> Nenhum estoque cadastrado para essa unidade</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
