
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title"><i class="tim-icons icon-coins text-danger"></i> Faturamento</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-2 pr-md-1">
                  <div class=" form-group">
                    <label> Data de Emissão*</label>
                    <input
                      class=" form-control"
                      placeholder=""
                      readonly
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-5 px-md-1">
                    <div class=" form-group">
                        <label> Selecione uma unidade*</label>
                        <select class="form-control">
                        <option value="1" selected>Keynoledge</option>
                        <option value="2">Playideia</option>
                        <option value="3">Outra</option>
                        </select>
                    </div>
                </div>
                <div class=" col-md-5 pl-md-1">
                    <div class=" form-group">
                        <label> Cliente*</label>
                        <select class="form-control">
                        <option value="1" selected>RCM Incorpodadora</option>
                        <option value="2">Posto Z+Z</option>
                        <option value="3">Prefeitura de Bom Fim</option>
                        <option value="4">Prefeitura de SP</option>
                        </select>
                    </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> CPF/CNPJ* </label>
                    <input
                      class=" form-control"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Inscrição Municipal* </label>
                      <input
                        class=" form-control"
                        type="text"
                      />
                    </div>
                </div>
                <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Nome Fantasia* </label>
                      <input
                        class=" form-control"
                        type="text"
                      />
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class=" form-group">
                      <label> CEP*</label>
                      <input
                        class=" form-control"
                        placeholder="74.834-460"
                        type="text"
                      />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-md-5 pr-md-1">
                    <div class=" form-group">
                      <label> Endereço*</label>
                      <input
                        class=" form-control"
                        placeholder=""
                        type="text"
                      />
                    </div>
                </div>
                <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Número*</label>
                      <input
                        class=" form-control"
                        placeholder=""
                        type="text"
                      />
                    </div>
                </div>
                <div class=" col-md-5">
                    <div class=" form-group">
                      <label> Complemento*</label>
                      <input
                        class=" form-control"
                        placeholder=""
                        type="text"
                      />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> Bairro*</label>
                      <input
                        class=" form-control"
                        placeholder=""
                        type="text"
                      />
                    </div>
                </div>
                <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> UF*</label>
                      <select id="estadoServico" name="estadoServico" class="form-control">
                        <option>Selecione...</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MS">MS</option>
                        <option value="MT">MG</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                    </div>
                  </div>
                  <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> Cidade*</label>
                      <input
                        class=" form-control"
                        placeholder=""
                        type="text"
                      />
                    </div>
                  </div>
                  <div class=" col-md-2">
                    <div class=" form-group">
                      <label> Telefone*</label>
                      <input
                        class=" form-control"
                        placeholder="(62) 3003-0000"
                        type="text"
                      />
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
            <div class="card">
                <div class=" card-header"><h5 class=" title"><i class="tim-icons icon-app text-danger"></i> Informações do Orçamento</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-3">
                            <div class=" form-group">
                              <label> Produto*</label>
                              <select class="form-control">
                              <option value="1" selected>Asfalto Ensacado</option>
                              <option value="2">Asfalto A granel</option>
                              </select>
                            </div>
                            </div>
                        <div class=" col-md-3">
                            <div class=" form-group">
                                <label> Volume*</label>
                                <input
                                    class=" form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class=" form-group">
                                <label> Vl Unitário*</label>
                                <input
                                    class=" form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div class=" form-group">
                                <label> Vl Total*</label>
                                <input
                                    class=" form-control"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" table-responsive">
                                <table class=" table tablesorter" id="">
                                  <thead class=" text-primary">
                                    <tr>
                                      <th>Produto</th>
                                      <th>Volume</th>
                                      <th>Vl Unitário</th>
                                      <th>Vl Total</th>
                                      <th class=" text-center">#</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Asfalto Estocável A granel</td>
                                      <td>23</td>
                                      <td>R$ 380,00</td>
                                      <td>R$ 8.740,00</td>
                                      <td class=" text-center"><button class="btn btn-primary btn-round btn-icon mr-1"><i class="tim-icons icon-trash-simple"></i></button></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class=" col-md-3">
                        <div class=" form-group">
                            <label>Total Geral</label>
                            <input
                                class=" form-control"
                                type="text"
                                readonly
                                value="R$ 8.740,00"
                            />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" card">
                        <div class="card-header">
                            <div class=" card-header"><h5 class=" title"><i class="tim-icons icon-coins text-danger-states"></i> Pagamento</h5></div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-4">
                                <div class=" form-group">
                                  <label> Condição de pagamento*</label>
                                  <select class="form-control">
                                  <option value="1" selected>Boleto</option>
                                  <option value="2">Cartão de Crédito</option>
                                  <option value="2">Tranferência</option>
                                  </select>
                                </div>
                              </div>
                              <div class=" col-md-4">
                                <div class=" form-group">
                                    <label>Prazo para pagamento (dias)*</label>
                                    <input
                                        class=" form-control"
                                        type="text"
                                    />
                                </div>
                              </div>
                              <div class=" col-md-4">
                                <div class=" form-group">
                                    <label>Vl Total do Orçamento*</label>
                                    <input
                                    readonly
                                        class=" form-control"
                                        type="text"
                                        value="R$ 8.740,00"
                                    />
                                </div>
                              </div>
                          </div>
                          <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">
                                <label> Observação*</label>
                                <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" card">
                        <div class="card-header">
                            <div class=" card-header"><h5 class=" title"><i class="tim-icons icon-paper text-danger-states"></i>Cálculo do Imposto</h5></div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                                <div class=" col-md-3">
                                    <div class=" form-group">
                                        <label>Base de Cálculo ICMS*</label>
                                        <input
                                            class=" form-control"
                                            type="text"
                                        />
                                    </div>
                                </div>
                              <div class=" col-md-3">
                                <div class=" form-group">
                                    <label>Valor do ICMS</label>
                                    <input
                                        class=" form-control"
                                        readonly
                                        type="text"
                                    />
                                </div>
                              </div>
                              <div class=" col-md-3">
                                <div class=" form-group">
                                    <label>Base de Cálculo ICMS ST*</label>
                                    <input
                                        class=" form-control"
                                        type="text"
                                    />
                                </div>
                            </div>
                          <div class=" col-md-3">
                            <div class=" form-group">
                                <label>Valor do ICMS ST</label>
                                <input
                                    class=" form-control"
                                    readonly
                                    type="text"
                                />
                            </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class=" col-md-3">
                                <div class=" form-group">
                                    <label>Desconto*</label>
                                    <input
                                        class=" form-control"
                                        type="text"
                                    />
                                </div>
                            </div>
                          <div class=" col-md-3">
                            <div class=" form-group">
                                <label>Outras Despesas</label>
                                <input
                                    class=" form-control"
                                    type="text"
                                />
                            </div>
                          </div>
                          <div class=" col-md-3">
                            <div class=" form-group">
                                <label>Valor do INPI</label>
                                <input
                                    class=" form-control"
                                    type="text"
                                />
                            </div>
                          </div>
                          <div class=" col-md-3">
                            <div class=" form-group">
                                <label>Valor Total NF</label>
                                <input
                                    readonly
                                    class=" form-control"
                                    type="text"
                                    value="R$ 7.940,00"
                                />
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="card-footer">
                            <div class=" card-footer">
                                <button class=" btn btn-fill btn-danger" type="submit">Faturar</button>
                                <button style="margin: auto 10px;" class=" btn  btn-success" type="submit">Emitir NF</button>
                                <button style="margin: auto 10px;" class=" btn  btn-fill" type="submit" (click)="user()">Voltar</button>
                              </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
     