.ng-invalid .ng-touched:not(form){
    border: 1px solid red;
    border-radius: 10px;
}
.erro{
    color: red !important;
    margin-top: -7px !important;

}



.erros {
    background-color: #eb5e2e;
    z-index: 999;
    width: 100%;
    position:absolute;
    top: 0;
    margin: 0;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  .sucesso {
    background-color: #00bf9a;
    z-index: 999;
    width: 100%;
    position:absolute;
    top: 0;
    margin: 0;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1rem;
  }